/* GENERAL */

body {
	background: rgb(14,18,36);
	padding-top: 0.4em;
	padding-bottom: 1.8em;
	font-family: 'Georgia', serif;
	font-size: 1em;
	color: #222;
}

#container {
	width: 60em;
	margin-left: auto;
	margin-right: auto;
}

a {
	color: rgb(50,50,125);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


/* HEADER */

#header {
	height: 6.5em;
	padding-bottom: 1.0em;
}

#header img {
	height: 7em;
	margin-right: 0.5em;
	float: left;
}

#header a {
	text-decoration: none;
	color: #fff;
}

div.siteTitle {
	font-size: 2.8em;
	font-family: 'Black Ops One', cursive;
	padding-top: 0.5em;
	margin: 0;
}

div.siteSubtitle {
	color: #bbb;
	font-size: 1.3em;
	font-weight: 300;
	font-style: italic;
	margin: 0;
}


/* MAIN */

#main {
	background: #fff;
	border-left: 3px dashed rgb(14,18,36);
	border-right: 3px dashed rgb(14,18,36);
}

#navigation {
	text-align: right;
	font-size: 1.1em;
	padding: 0.2em;
	padding-bottom: 0.5em;
	padding-right: 0.8em;
	border-bottom: 1px solid #ccc;
}

#navigation a {
	margin-left: 1.2em;
}

#navigation a.back {
	line-height: 0.8em;
	float: left;
	margin-top: 0.2em;
	margin-left: 0;
}

span.gray a {
	color: #ccc;
	pointer-events: none;
	cursor: default;
}

div.clear {
	clear: right;
}


/* SIDEBAR */

#sidebar {
	float: right;
	width: 29%;
	padding-top: 1.4em;
	padding-bottom: 1.4em;
}

p.category {
	font-size: 1.1em;
	text-transform: uppercase;
	padding: 0.25em;
	padding-top: 0.3em;
	margin-bottom: 0.2em;
	border-top: 1px dashed #aaa;
	border-bottom: 1px dashed #aaa;
}

a.category {
	color: rgb(105,140,70);
}

a.category:hover {
	color: rgb(50,50,125);
	text-decoration: none;
}


/* CONTENT */

#content {
	width: 65%;
	padding: 1.4em;
}


/* INDEX */

div.postListing {
	min-height: 10em;
}

div.postImage {
	height: 15em;
	overflow: hidden;
	margin-bottom: 0.5em;
}

div.postImage img {
	width: 100%;
	margin-top: -4em;
}

div.postSeparator {
	width: 20%;
	margin-left: auto;
	margin-right: auto;
	border-top: 1px dashed #888;
	height: 1.5em;
	margin-bottom: 0.5em;
}

div.postNavigation {
	text-align: right;
}

div.postNavigation a.newerPosts {
	float: left;
}


/* CATEGORY */

div.categoryPostListing {
	margin-bottom: 2em;
}

p.categoryTitle {
	font-family: 'Open Sans', sans-serif;
	font-size: 0.8em;
	text-transform: uppercase;
}

div.categoryPostImage {
	height: 2.5em;
	overflow: hidden;
	margin-bottom: 0.3em;
}

div.categoryPostImage img {
	width: 100%;
	margin-top: -10em;
}

#searchBox {
	margin-top: 1.5em;
	margin-left: 0.2em;
}

.searchInput {
	width: 90%;
	height: 2em;
	font-size: 0.8em;
	color: #888;
	border: 1px solid #aaa;
	padding: 0.2em;
}

.searchInput:focus {
	outline: none;
}

#rssInfo {
	margin-top: 1.5em;
	margin-left: 0.2em;
	color: #444;
}


/* POST */

p.postTitle {
	font-size: 2.2em;
	margin-bottom: 0.1em;
	color: rgb(105,140,70);
	line-height: 1.1em;
}

p.postTitle a {
	color: rgb(105,140,70);
}

p.postTitle a:hover {
	color: rgb(50,50,125);
	text-decoration: none;
}

p.postDate {
	line-height: 1.0em;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.8em;
	text-transform: uppercase;
	margin-bottom: 0.8em;
}

p.postPreview {
	font-family: 'Open Sans', sans-serif;
	font-size: 0.9em;
	font-weight: 300;
	line-height: 1.2em;
	color: #444;
}

h1 {
	font-size: 1.3em;
	line-height: 1.5em;
}

h2 {
	font-weight: bold;
	line-height: 1.5em;
}

p {
	margin-bottom: 1em;
	line-height: 1.4em;
}

ul {
	list-style-type: disc;
	margin-bottom: 1em;
}

li {
	margin-left: 2em;
	margin-top: 0.3em;
}

blockquote {
	margin-left: 1em;
	padding-left: 0.5em;
	border-left: 2px solid #222;
	font-style: italic;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}


/* FOOTER */

#footer {
	color: #444;
	font-size: 0.8em;
	padding-top: 0.7em;
	padding-left: 0.5em;
}

#footer a {
	color: #444;
}

