
<span style="display:none;">{% increment galleryNum %}</span>
<div class="gallery" id="gallery{{galleryNum}}"></div>
<div class="galleryClear"></div>
<script type="text/javascript">
	theseImages = ["{{gallery | replace:', ','", "'}}"];
	document.getElementById("gallery{{galleryNum}}").innerHTML += '<div class="galleryImageFirst"><img id="galleryImageFirst{{galleryNum}}" src="{{site.media}}' + theseImages[0] + '" /></div>';
	if(theseImages.length > 1) {
		document.getElementById("gallery{{galleryNum}}").innerHTML += '<div class="galleryWrapper">';
		for(i = 0; i < theseImages.length; i++) {
			document.getElementById("gallery{{galleryNum}}").innerHTML += '<div class="galleryImage" id="galleryImage' + i + '{{galleryNum}}" style="' + ((i == 0)?'opacity:1.0;':'') + '"><div class="galleryImageText">' + (i+1) + '</div><img onclick="document.getElementById(\'galleryImageFirst{{galleryNum}}\').src = this.src; for(j = 0; j < ' + theseImages.length + '; j++) {document.getElementById(\'galleryImage\' + j + \'{{galleryNum}}\').style.opacity = 0.7;} this.parentNode.style.opacity = 1.0;" src="{{site.media}}' + theseImages[i] + '" /></div>';
		}
		document.getElementById("gallery{{galleryNum}}").innerHTML += '</div>';
	}
</script>
