---
layout: layout
---

<div class="category">
	<p class="categoryTitle">posts // {{ page.title }}</p>
	
	<div class="categoryPosts">
		{% for post in site.categories[page.title] %}
			<div class="categoryPostListing">
				<div class="categoryPostImage">
					<a href="{{post.url}}"><img src="{{site.media}}{{post.image}}" /></a>
				</div>
				<p class="postTitle"><a href="{{post.url}}">{{post.title}}</a></p>
				<p class="postDate">{{ post.date | date: "%B %e, %Y" }} in {% for category in post.categories %}{% if forloop.first %}{% else %}, {% endif %}<a href="/{{category}}">{{category}}</a>{% endfor %}</p>
				<p class="postPreview">{{ post.teaser }}</p>
			</div>
			<div class="postSeparator"></div>
		{% endfor %}
	</div>
</div>
